.font{
font-family: 'Noto Sans KR', sans-serif;
}

.starR1{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR2{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}

/* 별점출력 */
.star-rating { width:205px; }   /* 별이미지크기 */

.star-rating,.star-rating span { 
display:inline-block; 
height:39px; 
overflow:hidden; 
background:url(../image/starStar.png)no-repeat; 
} /* 두개의 span에 동시에 주는 효과들 */

.star-rating span{ 
background-position:left bottom; 
line-height:0; 
vertical-align:top; 
} /* 안쪽 span에만 적용 */


 /* 댓글등록버튼 */
.btn_update, .btn_delete {
display: inline-block; 
padding: .3em .50em; 
font-size: inherit; 
line-height: normal; 
vertical-align: middle; 
background-color:#c2c2c2;
cursor: pointer; 
border: 1px solid #ebebeb; 
border-bottom-color: #e2e2e2; 
border-radius: .25em; 
color: white;
font-weight: bold;
font-size: 12pt;
} 

.background {
	background-color: #fffefc;
	border-radius: 20px;
	padding: 20px;
}
